<h1>Burger Builder!</h1>

<h2>Burger Builder</h2>

<ul>
  {{#each}}
    {{#unless}}
      {{>}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burger Builder</h2>

<ul>
  {{#each}}
    {{#if}}
      {{>}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Burger Builder?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Burger Builder!<br>
    <input type="radio" name="sleepy" value="0"> Hungry
  </div>

  <button type="submit">Add Burger</button>
</form>
