li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: #ffc300	;
}

body{
  background-color: #ffc300;
}


.form-group {
  margin-bottom: 5px;
}
